.card {
    margin: 10% auto;
    /* float: none; */
    margin-bottom: 10px;
}

.card > .card-header {
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
    
}

.card > .card-footer {
    padding-top: 15px;
    font-weight: bold;
}

p,h3,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #afabab;
    font-weight: bold;
}

.alerta-cadastro {
    margin-top: 10px;
    font-size: 14px;
}

footer>div>div>p {
    color: #afabab;
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
}

#redes-sociais>li>i {
    color: #afabab;
    font-size: 14px;

}
.redes-sociais>li {
    margin: 0 0 10px 0;
}

.tecnologias {
    color: #afabab;
    font-weight: bold;
    text-align: justify;
    font-size: 14px;
}

.tecnologias>li {
    margin: 0 0 10px 0;
}

li {
    list-style-type: none;
}

#rodape {
    background-color: #494749;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 0 0 10px !important;
}

.titulo-rodape {
    text-align: center;
    color: #afabab;
    font-weight: bold;
}

.table-wrapper {
    max-height: 300px;
    overflow: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.dropdown-menu{
    cursor: pointer;
}